<a href="https://colab.research.google.com/github/MademoiselleCupcake/style-conference-project/blob/master/IS6703_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IS6703 - Homework 01 Introduction & Python Basics

(Total 100 points, Problem 1-6 each with 12 points, Problem 7 with 28 points.)

### **please check the homework submission instruction in Blackboard to submit both the shared Colab link and PDF file to Blackboard**

## Problem 1: Simple indexing and list functions
There is a list of numbers assigned to a variable `number_list` in the code below that has been assigned a list of numbers. Run this cell before filling in the answers below.

In [14]:
number_list = [-13, 5, 12, 17, 20, 0]

Write an expression in the cell below, using square bracket index notation, that causes the 4th element of `number_list` (i.e., the number `17`) to be displayed when running the code in the cell.

In [2]:
number_list = [-13, 5, 12, 17, 20, 0]
number_list[3]

17

Now write an expression that evaluates to the number of items in the list (the answer should be: 6). hint: using the function "len"

In [5]:
number_list = [-13, 5, 12, 17, 20, 0]
len(number_list)

6


The following expression:
```python
max(number_list)
```
... will print the largest value in number_list (i.e., 20). What value should be the variable index 'idx' in the code below so that the expression
```python
sorted(number_list)[idx]
```
... does the same thing. (i.e., when you run the cell, it should display 20.)  
hint: `idx` is a **negative** integer.

In [7]:
idx = -1 # remove '??' and provide your answer here
sorted(number_list)[idx]
# this code print the largest value in number_list: 20

20

## Problem 2: Slices
Write an expression below that evaluates to a slice of number_list starting with its second element and ending with its fifth element (exclusive). I.e., the expression should evaluate to [5, 12, 17].

In [8]:
number_list[1:4]

[5, 12, 17]

Write an expression below that evaluates to a slice of number_list starting with its third element and ending at the end of the list. I.e., the expression should evaluate to [12, 17, 20, 0].

In [9]:
number_list[2:]

[12, 17, 20, 0]

Finally, fill in a value for the variable `idx` below so that the expression below it evaluates to a slice of `number_list` starting at the second-to-last element of the list and ending at the end of the list. The expression should evaluate to [20, 0]. hint: `idx` is a **negative** integer.

In [10]:
idx = -2 # remove '??' and provide your answer here
print (number_list[idx:])

[20, 0]

## Problem set 3: Comprehensions  
Comprehensions is very useful for **List operation** in real life data analysis and modeling tasks.

As dicussed in class, the modulo operator, %, returns the remainder of dividing one integer by another. For example:

In [11]:
print( 22 % 3)

1

This expression evaluates to 1 because the remainder of dividing 22 by 3 is 1. We can use the modulo operator to test whether or not a number is even, by using the number 2 on the right side of the operator:

In [12]:
print (100 % 2)
print (101 % 2)

0
1

In [13]:
number_list = [-13, 5, 12, 17, 20, 0]

Given the above information, write a list comprehension that evaluates to a list containing only the members of `number_list` that are odd---i.e., [-13, 5, 17].   
Use the modulo operator in the membership expression of the list comprehension.   
The results should be a **list**    
Hint: use `if` clause within list comprehesion

In [15]:
[x for x in number_list if x % 2 == 1]

[-13, 5, 17]

## Problem 4: Splitting strings
In the cell below, a variable `float_str` is set to a string containing a list of floating-point numbers, separated by semicolons (`;`). (Make sure to run this cell before you proceed, so that the variable will be available in subsequent cells.)

In [16]:
float_str = "5.8;6.9;3.1;5.9;6.6;6.5;6.5;5.6;6;6.4;3.3;6.0;6.0;6.3;6.6;6.6"

Write an expression below that converts this string into a **`list` of floating**-point numbers. The type of the expression should be list and the type of individual elements in the list should be `float`. The expression should evaluate to something that looks like this:

    [5.8, 6.9, 3.1, 5.9, 6.6, 6.5, 6.5, 5.6, 6.0, 6.4, 3.3, 6.0, 6.0, 6.3, 6.6, 6.6]

(Hint: you can choose to use the `.split()` method, combined with list comprehension)

In [17]:
float_str.split()

['5.8;6.9;3.1;5.9;6.6;6.5;6.5;5.6;6;6.4;3.3;6.0;6.0;6.3;6.6;6.6']

## Problem 5 IF statement
Jenny is trying to write a program for her youth club which asks the user to type in their age.  If the userâ€™s age is between 10 and 14, then they are eligible to be members.  That means, a child who is **10, 11, 12, 13 or 14** can join. If they are not in this age range, they are not eligible to be members.  Here is her program below:

In [27]:
age = int(input('Enter your age please '))
if age >=10 and age <=14:
    print('You can join the Youth Club!')
else:
    print('Sorry, you are not the right age :(')

Enter your age please 15
Sorry, you are not the right age :(

In [29]:
age = int(input('Enter your age please '))
if age >=10 and age <=14:
    print('You can join the Youth Club!')
else:
    print('Sorry, you are not the right age :(')

Enter your age please 14
You can join the Youth Club!

When Jenny tries to run this program, it will not work.  Correct the program above by inserting your proposals in the appropriate places.

## Problem 6: Working with strings
In the cell below, there is a list of strings and assigned it to a variable `capitalize_me`.

In [30]:
capitalize_me = ['an abacus', 'bitter beefsteak', 'comfy culottes']

Use the variable `capitalize_me` provided above, in the following blank code cell, write a `list comprehension` program that evaluates to another list, containing copies of these strings with their first letter capitalized. In other words, your filled-in code cell should display this when you run it:

    ['An abacus', 'Bitter beefsteak', 'Comfy culottes']

Hint: you could use string slices and the `.upper()`, OR `.capitalize()` (or other of your choice) method in your solution.

In [35]:
capitalized_list = [x.capitalize() for x in capitalize_me]
print(capitalized_list)

['An abacus', 'Bitter beefsteak', 'Comfy culottes']

## Problem 7 Define functions
1- Define a function `max_of_three()` that takes three numbers as arguments and returns the largest of them.

In [40]:
def max_of_three(n1,n2,n3):
    if n1>n2 and n1>n3:
      print(n1)
    elif n2>n1 and n2>n3:
      print(n2)
    else:
      print(n3)

2- Define a function is_palindrome() that recognizes palindromes (i.e. words that look the same written backwards). For example, is_palindrome("radar") should return True.

In [41]:
def is_palindrome(word):
    return word == word[::-1]